nodes/flows_humidor.json
[{"type":"tab","id":"14517457.30c0bc","label":"Humidor"},{"type":"tab","id":"110786f5.9f7879","label":"Settings"},{"id":"176dadc0.794d52","type":"subflow","name":"SendColor","info":"Sends a color to RGB LED. \nPayload needs to contain integers r, g, and b ranging from 0 to 100.","in":[{"x":61,"y":116,"wires":[{"id":"1bc406fe.346359"}]}],"out":[]},{"id":"95726a81.ae4418","type":"websocket-listener","z":"14517457.30c0bc","path":"api/ws/readings","wholemsg":"false"},{"id":"d1965ba0.299148","type":"rpi-gpio out","z":"176dadc0.794d52","name":"Red","pin":"33","set":false,"level":"0","out":"pwm","x":628,"y":150,"wires":[]},{"id":"f4fbae0f.e579","type":"rpi-gpio out","z":"176dadc0.794d52","name":"Green","pin":"15","set":"","level":"0","out":"pwm","x":632,"y":213,"wires":[]},{"id":"345fbfd9.4846e","type":"rpi-gpio out","z":"176dadc0.794d52","name":"Blue","pin":"13","set":"","level":"0","out":"pwm","x":637,"y":270,"wires":[]},{"id":"1bc406fe.346359","type":"function","z":"176dadc0.794d52","name":"SendColor","func":"var r = {}\n    ,g  = {}\n    ,b = {};\n\nif(msg.payload.r)\n    r.payload = msg.payload.r\nelse \n    r.payload= 0\n\nif(msg.payload.g)\n    g.payload = msg.payload.g\nelse \n    g.payload= 0\n\nif(msg.payload.b)\n    b.payload = msg.payload.b\nelse \n    b.payload= 0\n    \nreturn [r,g,b];\n\n","outputs":"3","noerr":0,"x":306,"y":197,"wires":[["d1965ba0.299148"],["f4fbae0f.e579"],["345fbfd9.4846e"]]},{"id":"420c8326.67eadc","type":"rpi-gpio in","z":"14517457.30c0bc","name":"Lid Sensor","pin":"11","intype":"down","debounce":"10","read":true,"x":934,"y":274,"wires":[["883ef3fa.b68b8","149fb293.9df8ad","c2a7a5cb.1a4de8"]]},{"id":"2db6c324.9023bc","type":"rpi-dht22","z":"14517457.30c0bc","name":"","topic":"","dht":"22","pintype":"0","pin":4,"x":292.572021484375,"y":130.2559814453125,"wires":[["f54cafe7.c0a39"]]},{"id":"16b1d93.2456527","type":"debug","z":"14517457.30c0bc","name":"Debug Reading","active":false,"console":"false","complete":"payload","x":800.9999694824219,"y":20,"wires":[]},{"id":"41cd9e62.0de03","type":"inject","z":"14517457.30c0bc","name":"Interval","topic":"","payload":"0","payloadType":"num","repeat":"4","crontab":"","once":true,"x":120.12075805664062,"y":134.1686553955078,"wires":[["2db6c324.9023bc"]]},{"id":"f54cafe7.c0a39","type":"function","z":"14517457.30c0bc","name":"UpdateReadings","func":"\n\nvar retVal = flow.get(\"reading\");\n\nif(retVal)\n{\nretVal.humidity = msg.humidity*1;\nretVal.celsius = msg.payload*1;\nretVal.fahrenheit = (msg.payload*9/5) + 32;\nretVal.timestamp = Date.now();\n}\nelse \n{\n    retVal = {\n        \"humidity\": msg.humidity\n    , \"celsius\": msg.payload\n    , \"fahrenheit\":  (msg.payload*9/5) + 32\n    , \"timestamp\": Date.now()\n    }\n}\n\nflow.set(\"reading\",retVal);\nmsg.payload = retVal;\n\nreturn msg;","outputs":1,"noerr":0,"x":484,"y":106,"wires":[["16b1d93.2456527","55be171d.dae978","99e8a291.d99ec","a1946c9.0fddf9"]]},{"id":"883ef3fa.b68b8","type":"function","z":"14517457.30c0bc","name":"Update Closed","func":"var r = flow.get('reading');\nr.closed = msg.payload || 0;\nflow.set('reading',r);\nmsg.payload = r;\nreturn msg;","outputs":1,"noerr":0,"x":1312,"y":275,"wires":[["7ed1e61d.7e0698"]]},{"id":"7ed1e61d.7e0698","type":"function","z":"14517457.30c0bc","name":"Open-Closed Alert","func":"var m = msg.payload;\n\nvar message = \"Humidor is closed\";\nvar title = \"Humidor CLOSED\"\nif(m.closed === 0)\n{\n    message = \"Humidor is open\";\n    title = \"Humidor OPEN\"\n}\n\nmsg.payload = message;\nmsg.topic = title;\nreturn msg;","outputs":1,"noerr":0,"x":1564.8026428222656,"y":288.86238861083984,"wires":[["f42885eb.875d88"]]},{"id":"27ee2c.29bea1d4","type":"debug","z":"14517457.30c0bc","name":"","active":true,"console":"false","complete":"false","x":1695,"y":67,"wires":[]},{"id":"70d79da2.a15de4","type":"pushover","z":"14517457.30c0bc","name":"","device":"","title":"","priority":0,"sound":"","x":2247,"y":348,"wires":[]},{"id":"55be171d.dae978","type":"function","z":"14517457.30c0bc","name":"checkTemperatureAlertCondition","func":"var Condition = \"TEMPERATURE NORMAL\";\nvar r = flow.get(\"reading\")\nvar s = global.get(\"settings\");\n\nif(r.fahrenheit > s.tempWarnTooHigh)\n    Condition = \"WARNING:TOO HOT\";\nif(r.fahrenheit >= s.tempAlertTooHigh)\n    Condition = \"ALERT:TOO HOT\";\n\nif(r.fahrenheit < s.tempWarnTooLow)\n    Condition = \"WARNING:TOO COLD\";\nif(r.fahrenheit < s.tempAlertTooLow)\n    Condition = \"ALERT:TOO COLD\";\n\nmsg.payload = Condition;\nreturn msg;","outputs":1,"noerr":0,"x":851,"y":78,"wires":[["b9c08dae.8b0bf"]]},{"id":"b9c08dae.8b0bf","type":"rbe","z":"14517457.30c0bc","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1303.9999694824219,"y":74,"wires":[["27ee2c.29bea1d4","2f0dfc3f.63c254"]]},{"id":"2f0dfc3f.63c254","type":"function","z":"14517457.30c0bc","name":"Setup Pushover Message","func":"msg.topic = msg.payload;\nmsg.payload = flow.get(\"reading\");\nmsg.uri=\"https://humidor.sensor\"\nreturn msg;","outputs":1,"noerr":0,"x":1763,"y":145,"wires":[["f42885eb.875d88"]]},{"id":"99e8a291.d99ec","type":"function","z":"14517457.30c0bc","name":"checkHumidityAlertCondition","func":"var Condition = \"HUMIDITY NORMAL\";\nvar r = flow.get(\"reading\")\nvar s = global.get(\"settings\");\n\nif(r.humidity > s.humidityWarnTooHigh)\n    Condition = \"WARNING:TOO HUMID\";\nif(r.humidity >= s.humidityAlertTooHigh)\n    Condition = \"ALERT:TOO HUMID\";\n    \nif(r.humidity < s.humidityWarnTooLow)\n    Condition = \"WARNING:TOO DRY\";\nif(r.humidity < s.humidityAlertTooLow)\n    Condition = \"ALERT:TOO DRY\";\n\n\nmsg.payload = Condition;\nreturn msg;","outputs":"1","noerr":0,"x":843.9999694824219,"y":136.99999237060547,"wires":[["106b8f81.a4ce5"]]},{"id":"106b8f81.a4ce5","type":"rbe","z":"14517457.30c0bc","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1300.9999694824219,"y":133.99996948242188,"wires":[["2f0dfc3f.63c254","27ee2c.29bea1d4"]]},{"id":"9d9dc498.434338","type":"inject","z":"14517457.30c0bc","name":"","topic":"Humidor was restarted","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1459,"y":438,"wires":[["6a3e2ccc.998654"]]},{"id":"d0eeb93a.9e75c8","type":"http response","z":"14517457.30c0bc","name":"","x":531,"y":408,"wires":[]},{"id":"429ff887.623768","type":"http in","z":"14517457.30c0bc","name":"Reading","url":"/api/reading","method":"get","swaggerDoc":"","x":70.87493896484375,"y":391.98944091796875,"wires":[["4a059a3b.cce834"]]},{"id":"d0e789b8.4f17b8","type":"debug","z":"14517457.30c0bc","name":"","active":false,"console":"false","complete":"false","x":549,"y":362,"wires":[]},{"id":"4a059a3b.cce834","type":"change","z":"14517457.30c0bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"reading","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":274,"y":393,"wires":[["d0eeb93a.9e75c8","d0e789b8.4f17b8","5618e00f.5c291"]]},{"id":"5618e00f.5c291","type":"trigger","z":"14517457.30c0bc","op1":"45","op2":"0","op1type":"num","op2type":"num","duration":"100","extend":true,"units":"ms","reset":"","name":"Request LED","x":561,"y":453,"wires":[["a9309634.e646c8"]]},{"id":"a9309634.e646c8","type":"function","z":"14517457.30c0bc","name":"Blue","func":"var color = {\"r\":0,\"g\":0,\"b\":msg.payload};\nmsg.payload = color;\nreturn msg;","outputs":1,"noerr":0,"x":783.2860107421875,"y":454.05401611328125,"wires":[["c8635967.e31988"]]},{"id":"4f0ec42c.f87f9c","type":"subflow:176dadc0.794d52","z":"14517457.30c0bc","x":1310,"y":557,"wires":[]},{"id":"661ffe15.c62ef","type":"function","z":"14517457.30c0bc","name":"Green","func":"var color = {\"r\":0,\"g\":msg.payload,\"b\":0};\nmsg.payload = color;\nreturn msg;","outputs":1,"noerr":0,"x":796,"y":575,"wires":[["c8635967.e31988"]]},{"id":"27b0ef83.e7eab","type":"rpi-gpio in","z":"14517457.30c0bc","name":"TopButton","pin":"31","intype":"down","debounce":"1","read":true,"x":153,"y":581,"wires":[["cb665a94.16dc28"]]},{"id":"cb665a94.16dc28","type":"range","z":"14517457.30c0bc","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":442,"y":581,"wires":[["661ffe15.c62ef"]]},{"id":"688da248.21d72c","type":"rpi-gpio out","z":"14517457.30c0bc","name":"Buzzer","pin":"29","set":true,"level":"0","out":"out","x":1261,"y":207,"wires":[]},{"id":"841e6523.41a0b8","type":"http response","z":"14517457.30c0bc","name":"","x":629,"y":811,"wires":[]},{"id":"f32d5b76.b7fee8","type":"http in","z":"14517457.30c0bc","name":"Legacy Reading","url":"/api/legacyreading","method":"get","swaggerDoc":"","x":120,"y":811,"wires":[["16427cca.9d3ca3"]]},{"id":"16427cca.9d3ca3","type":"function","z":"14517457.30c0bc","name":"Convert Payload to Legacy Format","func":"var r = flow.get(\"reading\");\nmsg.payload = \n    {\"h\":r.humidity\n        ,\"c\":r.celsius\n        ,\"f\":r.fahrenheit\n        ,\"m\":Date.now()};\n\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":811,"wires":[["841e6523.41a0b8","42a00afe.c05aa4"]]},{"id":"cc6fbbbf.075308","type":"function","z":"14517457.30c0bc","name":"Yellow","func":"var color = {\"r\":msg.payload/2,\"g\":msg.payload,\"b\":0};\nmsg.payload = color;\nreturn msg;","outputs":1,"noerr":0,"x":813,"y":704,"wires":[["c8635967.e31988"]]},{"id":"42a00afe.c05aa4","type":"trigger","z":"14517457.30c0bc","op1":"100","op2":"0","op1type":"num","op2type":"num","duration":"300","extend":true,"units":"ms","reset":"","name":"Request LED","x":605,"y":705,"wires":[["cc6fbbbf.075308"]]},{"id":"6a3e2ccc.998654","type":"function","z":"14517457.30c0bc","name":"AlertOnStart","func":"msg.payload = \"Humidor was restarted at \" + new Date().toString() \n    + '\\n' + JSON.stringify(global.get(\"settings\"));\nmsg.topic = \"Humidor was restarted.\"\nreturn msg;","outputs":1,"noerr":0,"x":1644,"y":437,"wires":[["f42885eb.875d88"]]},{"id":"80d8c6bf.21cb68","type":"file in","z":"110786f5.9f7879","name":"settings.json","filename":"/web/static/humidor-website/settings.json","format":"utf8","x":319,"y":92,"wires":[["fb11d6a1.ea4708"]]},{"id":"fb11d6a1.ea4708","type":"json","z":"110786f5.9f7879","name":"","x":460,"y":93,"wires":[["473d5f8b.67472"]]},{"id":"dacbafb0.e9d0d","type":"debug","z":"110786f5.9f7879","name":"","active":false,"console":"false","complete":"false","x":888,"y":91,"wires":[]},{"id":"7bd8a3dd.92b24c","type":"inject","z":"110786f5.9f7879","name":"Read Settings","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":143,"y":89,"wires":[["80d8c6bf.21cb68"]]},{"id":"bc97917.efe067","type":"inject","z":"110786f5.9f7879","name":"Pushover Notices On","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":204,"y":209,"wires":[["9ecd0b8c.b52258"]]},{"id":"9ecd0b8c.b52258","type":"function","z":"110786f5.9f7879","name":"SetPushover","func":"global.set(\"pushover\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":454,"y":241,"wires":[[]]},{"id":"c3b974e8.16f508","type":"inject","z":"110786f5.9f7879","name":"Pushover Notices Off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":201,"y":268,"wires":[["9ecd0b8c.b52258"]]},{"id":"f42885eb.875d88","type":"function","z":"14517457.30c0bc","name":"CheckPushoverEnabled","func":"if(global.get(\"pushover\") ==true)\n    return msg;\nelse\n    return null;","outputs":1,"noerr":0,"x":1994,"y":346,"wires":[["70d79da2.a15de4","144ee06e.0a62d"]]},{"id":"144ee06e.0a62d","type":"debug","z":"14517457.30c0bc","name":"","active":true,"console":"false","complete":"false","x":2243,"y":454,"wires":[]},{"id":"473d5f8b.67472","type":"function","z":"110786f5.9f7879","name":"SetSettings","func":"global.set(\"settings\", msg.payload)\nmsg.payload = global.get(\"settings\");\nreturn msg;","outputs":1,"noerr":0,"x":663,"y":90,"wires":[["dacbafb0.e9d0d"]]},{"id":"e8a6bec0.9de05","type":"inject","z":"14517457.30c0bc","name":"","topic":"","payload":"settings","payloadType":"global","repeat":"","crontab":"","once":false,"x":2013,"y":454,"wires":[["144ee06e.0a62d"]]},{"id":"5068fc2.1fbab04","type":"function","z":"14517457.30c0bc","name":"Red","func":"var color = {\"r\":msg.payload,\"g\":0,\"b\":0};\nmsg.payload = color;\nreturn msg;\n","outputs":1,"noerr":0,"x":1247,"y":364,"wires":[["4f0ec42c.f87f9c"]]},{"id":"149fb293.9df8ad","type":"range","z":"14517457.30c0bc","minin":"1","maxin":"0","minout":"0","maxout":"100","action":"clamp","round":true,"name":"Invert to 100","x":1086,"y":366,"wires":[["5068fc2.1fbab04"]]},{"id":"c2a7a5cb.1a4de8","type":"range","z":"14517457.30c0bc","minin":"1","maxin":"0","minout":"0","maxout":"1","action":"scale","round":true,"name":"Invert","x":1078,"y":204,"wires":[["688da248.21d72c"]]},{"id":"c8635967.e31988","type":"function","z":"14517457.30c0bc","name":"Check Blocked","func":"if(flow.get(\"reading\").closed === 1)\n    return msg; \nelse\n    return null;","outputs":1,"noerr":0,"x":1061,"y":558,"wires":[["4f0ec42c.f87f9c"]]},{"id":"a1946c9.0fddf9","type":"websocket out","z":"14517457.30c0bc","name":"Readings WebSocket","server":"95726a81.ae4418","client":"","x":824.1667175292969,"y":197.66661834716797,"wires":[]}]